<div class="row text-center">
    <div class="col">
        <h1>A Propos</h1>
    </div>

</div>
<div class="container">
<div class="row ">
    <div class="col ">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed blandit sem. Aenean eget laoreet sem. Proin
            ultrices sem sit amet risus sodales elementum. Aliquam enim tellus, elementum at maximus id, condimentum sit amet
            purus. Curabitur efficitur facilisis massa, eget pulvinar nulla porta sed. Vestibulum non condimentum erat. Fusce
            ultricies congue nunc.
        </p>
        <p>Sed diam lectus, vehicula ut libero non, interdum tincidunt augue. Sed eget neque turpis. Nullam ligula turpis,
            luctus sit amet placerat sit amet, luctus dignissim metus. Vivamus dapibus ac leo vel suscipit. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam venenatis pharetra lorem eu
            commodo. Donec ut lacinia lorem, sit amet gravida odio. Praesent quis nunc dolor. Aliquam condimentum mattis congue.
            Sed gravida tellus dolor, et accumsan ante tempor vel. Suspendisse rutrum lorem vitae neque mollis commodo. Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Cras in ultrices sem. Morbi eleifend vel leo at suscipit. Nunc
            sed mauris nec ante euismod iaculis sed ac mi.
        </p>
        <p>Curabitur velit odio, rutrum eu malesuada non, molestie in ligula. Quisque ligula enim, pretium eu suscipit vitae,
            scelerisque eu velit. Aliquam ut semper nulla, ac pretium elit. Phasellus magna urna, tristique vel ex quis, mollis
            placerat dolor. Phasellus ut aliquet leo. Fusce odio ipsum, suscipit et placerat in, vehicula posuere ligula. Donec
            mattis nulla eu magna blandit, in tempor magna auctor. Mauris fermentum sollicitudin nibh et porttitor. Nullam
            rutrum aliquam justo dapibus vehicula. Phasellus eget purus auctor, porttitor felis et, pretium nunc. Cras erat
            lacus, commodo sed tincidunt in, feugiat quis massa. Nulla feugiat eleifend felis id maximus. Mauris et ligula id
            dolor sodales aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>Aliquam lacinia et nisl in laoreet. In vitae nisi sodales, molestie nisi vitae, lobortis mauris. Cras tristique
            tellus a tortor maximus scelerisque. Phasellus in efficitur odio. In vulputate lacinia felis non hendrerit. Nunc
            dapibus quam velit, vitae vestibulum mi sagittis id. Nunc eu posuere mauris. Praesent id ipsum non leo efficitur
            tristique. Pellentesque fringilla at magna nec ullamcorper. Pellentesque vulputate nisi mauris, quis porttitor nunc
            consectetur id. Proin tempor, lorem non feugiat maximus, nulla ligula feugiat eros, et placerat erat odio sit amet
            dui. Ut pulvinar, urna malesuada semper auctor, massa libero auctor diam, ac feugiat lacus diam quis massa. Donec a
            leo tellus.
        </p>
        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sodales nulla nec
            malesuada lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac
            ligula suscipit, fermentum lorem sit amet, tincidunt arcu. Duis posuere pharetra arcu, sed gravida nulla bibendum a.
            Fusce eleifend est nec nulla maximus mattis. Sed ullamcorper massa in ex posuere congue.
        </p>
    </div>
</div>
</div>