<div  class="col mx-3 p-3 globalDiv ">
    <div class="row py-2">
        <div class="col">
            <input type="text"  class="form-control" placeholder="nom du collegue"  autofocus="" #nom>
        </div>
        <div class="col">
            <button type="button" class="btn btn-lg btn-block text-light" (click)="rechercherParNom(nom.value)">Rechercher</button>
        </div>
    </div>
    <div *ngIf="listeMatricule" >
        <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark ">
            <tr>
                <th scope="col">Matricule</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matricule of listeMatricule" (click)="rechercherCollegue(matricule)" style="cursor:pointer">{{matricule}}</tr>
            </tbody>
        </table>
        <p *ngIf="messageError" class="text-danger">{{messageError}}</p>
    </div>
</div>
