<div class="media row globalDiv  mx-3 p-3">
    <img *ngIf="collegue.photoUrl.length>0" [src]="this.collegue.photoUrl" alt="photo du collegue" class="align-self-center mr-3 img-fluid ">
    <div class="media-body">
        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col"><p>Matricule: </p></div>
                    <div class="col"><p [textContent]="this.collegue.matricule"></p></div>
                </div>
                <div class="row">
                    <div class="col"><p>Nom: </p></div>
                    <div class="col"><p [textContent]="this.collegue.nom | uppercase"></p></div>
                </div>
                <div class="row">
                    <div class="col"><p>Prenom: </p></div>
                    <div class="col"><p [textContent]="this.collegue.prenom"></p></div>

                </div>
                <div class="row">
                    <div class="col"><p>Date de Naissance: </p></div>
                    <div class="col"><p [textContent]="this.collegue.ddn | date:'longDate'"></p></div>

                </div>


                <div class="row">
                    <div class="col"><p>Email: </p></div>
                    <div class="col"><input type="email" [(ngModel)]="collegue.email" class="form-control mr-2 mb-2"
                                            placeholder="Entrez un email" #etatEmail="ngModel" [value]="collegue.email"
                                            required></div>
                </div>
                <div class="row" *ngIf="etatEmail.invalid">
                    <div class="col"></div>
                    <div class="col">
                        <p class="text-danger">Email obligatoire</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p>Photo: </p></div>
                    <div class="col"><input type="text" [(ngModel)]="collegue.photoUrl" class="form-control mr-2 mb-2"
                                            placeholder="Entrez une url de photo" #etatPhoto="ngModel"
                                            [value]="collegue.photoUrl" [ngModelOptions]="{updateOn: 'blur'}" minLength="7" required></div>
                </div>
                <div class="row" *ngIf="etatPhoto.invalid">
                    <div class="col"></div>
                    <div class="col">
                        <p class="text-danger">Photo non comforme</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">


            <div class="col"></div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-block text-light"
                        [disabled]="etatPhoto.invalid || etatEmail.invalid" (click)="clickValider()">Valider
                </button>
                <p *ngIf="messageError" class="text-danger">{{messageError}}</p>
            </div>


        </div>


    </div>
</div>



