<div class="media row globalDiv  mx-3 p-3">
    <img *ngIf="collegue.photoUrl.length>0" [src]="this.collegue.photoUrl" alt="photo du collegue" class="align-self-center mr-3 img-fluid ">
    <div class="media-body">
        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col"><p>Matricule: </p></div>
                    <div class="col"><p [textContent]="collegue.matricule"></p></div>
                </div>
                <div class="row">
                    <div class="col"><p>Nom: </p></div>
                    <div class="col"><p [textContent]="collegue.nom | uppercase"></p></div>
                </div>
                <div class="row">
                    <div class="col"><p>Prenom: </p></div>
                    <div class="col"><p [textContent]="collegue.prenom"></p></div>

                </div>
                <div class="row">
                    <div class="col"><p>Date de Naissance: </p></div>
                    <div class="col"><p [textContent]="collegue.ddn | date:'longDate'"></p></div>

                </div>


                <div class="row">
                    <div class="col"><p>Email: </p></div>
                    <div class="col"><input type="email" [(ngModel)]="collegueBrouillon.email" class="form-control mr-2 mb-2" appEmailValidator [emailCollegue]="collegue.email"
                                            placeholder="Entrez un email" [ngModelOptions]="{updateOn: 'blur'}" #etatEmail="ngModel"
                                            required></div>
                </div>
                <div class="row" *ngIf="etatEmail.invalid">
                    <div class="col"></div>
                    <div class="col">
                        <p *ngIf="etatEmail.errors.emailInvalide else emailDisponible" class="text-danger">Email déja utilisé</p>
                        <ng-template #emailDisponible><p  class="text-danger">Email obligatoire</p></ng-template>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p>Photo: </p></div>
                    <div class="col"><input type="text" appUrlValidator [(ngModel)]="collegueBrouillon.photoUrl" class="form-control mr-2 mb-2"
                                            placeholder="Entrez une url de photo" #etatPhoto="ngModel"
                                             [ngModelOptions]="{updateOn: 'blur'}" minlength="7" required></div>
                </div>


                <div class="row" *ngIf="etatPhoto.invalid" >
                    <div class="col"></div>
                    <div class="col">
                        <p *ngIf="etatPhoto.errors.urlInvalide; else photoInvalide" class="text-danger">l’url de la photo ne commence pas par http</p>
                        <ng-template #photoInvalide><p class="text-danger">photo invalide</p></ng-template>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">


            <div class="col">
                <button type="button" class="btn btn-lg btn-block text-light"  (click)="annuler()">annuler</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-block text-light"
                        [disabled]="etatPhoto.invalid || etatEmail.invalid" (click)="clickValider()">Valider
                </button>
                <p *ngIf="messageError" class="text-danger">{{messageError}}</p>
            </div>


        </div>


    </div>
</div>



