<div class="media row globalDiv  mx-3 p-3">
    <img src="https://image.flaticon.com/icons/png/512/127/127586.png" alt="photo du collegue" class="align-self-center mr-3 img-fluid">
    <div class="media-body">
        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col"><p>Nom: </p></div>
                    <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Nom"></div>

                </div>
                <div class="row">
                    <div class="col"><p>Prenom: </p></div>
                    <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Prenom"></div>

                </div>
                <div class="row">
                    <div class="col"><p>Date de naissance: </p></div>
                    <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Date de naissance"></div>

                </div>


                <div class="row">
                    <div class="col"><p>Email: </p></div>
                    <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Entrez un email"></div>

                </div>
                <div class="row">
                    <div class="col"><p>Photo: </p></div>
                    <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Entrez une url de photo"></div>

                </div>

            </div>
        </div>

        <div class="row">

            <div class="col"></div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-block text-light" (click)="clickCreer()">Creer</button>
            </div>


        </div>


    </div>
</div>




