<div class="jumbotron" >
    <div class="container">
        <h1 class="display-2 ">Administration Collègues</h1>
        <div *ngIf="(this.connecte | async)===false" class="row text-center">
            <div class="col">
                <app-connexion></app-connexion>
            </div>
        </div>
    </div>
</div>




<div *ngIf="(this.connecte | async)===true" class="row ">
    <div class="col- col-lg-5">
        <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
    </div>
    <div *ngIf="(collegue|async)" class="col- col-lg-7">
        <app-collegue></app-collegue>
    </div>
</div>




