form{
    max-width: 330px;
    margin: 20px auto 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

}

button{
    background-color: #494b50;

}

button:hover{
    background-color: grey;
}

