<div class="container">
    <div class="row">
        <div class="col-3 text-center ">
            <img [src]="collegue.photoUrl" alt="photo du collegue" class="img-fluid">
        </div>

        <div class="col-9">
            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="col"><p>Matricule: </p></div>
                        <div class="col"><p [textContent]="collegue.matricule"></p></div>
                    </div>
                    <div class="row">
                        <div class="col"><p>Nom: </p></div>
                        <div class="col"> <p [textContent]="collegue.nom | uppercase"></p></div>
                    </div>
                    <div class="row">
                        <div class="col"><p>Prenom: </p></div>
                        <div class="col"><p [textContent]="collegue.prenom"></p></div>

                    </div>
                    <div class="row">
                        <div class="col"><p>Date de Naissance: </p></div>
                        <div class="col"> <p [textContent]="collegue.dateDeNaissance | date:'longDate'"></p></div>

                    </div>
                    <ng-container *ngIf="modification; else afficherEmailEtPhoto ">
                        <div class="row">
                            <div class="col"><p>Email: </p></div>
                            <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Entrez un email"></div>

                        </div>
                        <div class="row">
                            <div class="col"><p>Photo: </p></div>
                            <div class="col"><input type="text" class="form-control mr-2 mb-2"   placeholder="Entrez une url de photo"></div>

                        </div>
                    </ng-container>
                    <ng-template #afficherEmailEtPhoto>
                        <div class="row">
                            <div class="col"><p>Email: </p></div>
                            <div class="col"><p [textContent]="collegue.email"></p></div>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <ng-container *ngIf="modification==false;else afficherBoutonValider">
                    <div class="col">
                        <a href="#" (click)="clickCreer()">Créer un nouveau collègue</a>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="clickModifier()">Modifier</button>
                    </div>
                </ng-container>
                <ng-template #afficherBoutonValider>
                    <div class="col"></div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="clickValider()">Valider</button>
                    </div>
                </ng-template>
            </div>
        </div>


    </div>
</div>
