
<ng-container *ngIf="this.etatComponent===1">
<app-afficher-collegue [collegue]="this.collegue |async" (childEvent)="this.changerEtatComponent($event)"></app-afficher-collegue>
</ng-container>
<ng-container *ngIf="this.etatComponent===2">
    <app-modifier-collegue [collegue]="this.collegue|async" [collegueBrouillon]="{email:(this.collegue|async).email,photoUrl:(this.collegue|async).photoUrl}" (childEvent)="this.changerEtatComponent($event)"></app-modifier-collegue>
</ng-container>
<ng-container *ngIf="this.etatComponent===3">
    <app-creer-collegue (childEvent)="this.changerEtatComponent($event)"></app-creer-collegue>
</ng-container>
